{% extends 'base.html.twig' %}

{% block extra_scripts %}
	<script src="{{ asset('scripts/message.js') }}"></script>

	<script>
		const messages = {{ messages | json_encode | raw }}
	</script>

{% endblock %}

{% block extra_stylesheets %}

	<link rel="stylesheet" href="{{ asset('css/home.css') }}">

{% endblock %}

{% block title %}Nation Sounds
{% endblock %}

{% block body %}
	<main>
		<div id="messageParent" style="display: inline-block; position: relative;">
			<h1 id="messageContent" class={{messages[0].type}}>{{messages[0].content}}</h1>
			<button id="toggleBtn">
				<i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>

		<div class="programme">
			<h1>AFFICHAGE DES CONCERT
				<br>
				ET ARTISTES</h1>
		</div>

		<div class="ticket">
			<h1>BILLETERIE</h1>
		</div>

		<style>
			#homepage-map {
				height: 100%;
				width: 100%;
			}
		</style>

		<div id="homepage-map" style="height: 500px;"></div>

		<script>
			const festivalLocation = JSON.parse("{{ festivalLocation | e('js') }}");
function initMap() {
const festival = {
lat: festivalLocation.latitude,
lng: festivalLocation.longitude
};

// Création de la carte
const map = new google.maps.Map(document.getElementById("homepage-map"), {
zoom: 16,
center: festival,
styles: [
{
featureType: "poi", // Points of interest
stylers: [
{
visibility: "off"
}
] // les masquer
}, {
featureType: "transit", // Transports en commun
stylers: [
{
visibility: "off"
}
] // les masquer
}
],
disableDefaultUI: true, // Désactive les éléments d'interface par défaut de Google Maps
gestureHandling: "none"
});

const festivalBounds = festivalLocation.bounds;
const festivalZone = new google.maps.Polygon({
strokeColor: "grey",
strokeOpacity: 0.8,
strokeWeight: 3,
fillColor: "grey",
fillOpacity: 0.15,
map,
paths: festivalBounds
});

// Gestionnaire d'événements pour le clic sur la carte
map.addListener("click", function (event) {
window.location.href = "/map/festival/"; // Redirection vers la page souhaitée
});
}

window.initMap = initMap;
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfh6E4gClmwOAfjx9hD9WrzmRWNWff1ko&callback=initMap&v=weekly" defer></script>

		<div class="footer-menu">
			<a href="{{ path('app_festival_show', {'id': festivalId}) }}" class="footer-menu-item">
				<i class="fas fa-home"></i>
				<span>Accueil</span>
			</a>

			{# <a href="{{ path('app_festival_show', {'id': festivalId}) }}" class="footer-menu-item"> #}
			<a href="/" class="footer-menu-item">
				<i class="fas fa-calendar"></i>
				<span>Programme</span>
			</a>
			<a href="/map/festival" class="footer-menu-item">
				<i class="fas fa-map"></i>
				<span>Carte</span>
			</a>
			<a href="{{ path('app_faq_index_by_festival', {'festival': festivalId}) }}" class="footer-menu-item">
				<i class="fas fa-question-circle"></i>
				<span>FAQ</span>
			</a>

			<div class="menu-plus">
				<i class="fas fa-ellipsis-h" style="font-size: 1.5em; letter-spacing: 10px;"></i>
				<span></span>
				<ul class="sub-menu">
					<a href="/">Réseaux</a>
					<a href="/">Partenaires</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					{% endif %}
				</ul>
			</div>

		</div>
		<script>
			let currentUrl = window.location.href
let menuItems = document.querySelectorAll('.footer-menu-item');

menuItems.forEach(function (item) {
if (item.href === currentUrl) {
item.classList.add('active');
}
});
		</script>
	</a>
</div></main>{% endblock %}
