{% extends 'base.html.twig' %} {% block title %}Administration{% endblock %} {%
block body %}
<main>
  <h1>{{ festival.name }}</h1>

  <section class="concert">
    <h2>
      Concerts:
      <a href="{{ path('app_concert_new', { festival: festival.id }) }}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h2>
    <ul>
      {% for concert in concerts %}
      <li>
        Id: <span>{{ concert.id }}</span> - Artiste :
        <span>{{ concert.performer }}</span> - Date du concert:
        <span>{{ concert.concertDate|date('d/m/Y H:i:s') }}</span>
        <a
          href="{{
            path('app_concert_edit', { id: concert.id, festival: festival.id })
          }}"
        >
          <i class="fa-regular fa-note-sticky"></i>
        </a>
        {{ include("concert/_delete_form.html.twig") }}
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="scene">
    <h2>
      Scènes:
      <a href="{{ path('app_scene_new', { festival: festival.id }) }}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h2>
    <ul>
      {% for scene in scenes %}
      <li>
        Id: <span>{{ scene.id }}</span> - Scène :
        <span>{{ scene.name }}</span>
        <a
          href="{{
            path('app_scene_edit', { id: scene.id, festival: festival.id })
          }}"
        >
          <i class="fa-regular fa-note-sticky"></i>
        </a>
        {{ include("scene/_delete_form.html.twig") }}
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="performer">
    <h2>
      Performers:
      <a href="{{ path('app_performer_new', { festival: festival.id }) }}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h2>
    <ul>
      {% for performer in performers %}
      <li>
        Id: <span>{{ performer.id }}</span> Name:
        <span>{{ performer.name }}</span>
        <a
          href="{{
            path('app_performer_edit', {
              festival: festival.id,
              id: performer.id
            })
          }}"
        >
          <i class="fa-regular fa-note-sticky"></i>
        </a>
        {{ include("performer/_delete_form.html.twig") }}
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="facilities">
    <h2>
      Facilities:
      <a href="{{ path('app_facility_new', { festival: festival.id }) }}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h2>
    <ul>
      {% for facility in facilities %}
      <li>
        Id: <span>{{ facility.id }}</span> Name:
        <span>{{ facility.name }}</span>
        <a
          href="{{
            path('app_facility_edit', {
              festival: festival.id,
              id: facility.id
            })
          }}"
        >
          <i class="fa-regular fa-note-sticky"></i>
        </a>
        {{ include("facility/_delete_form.html.twig") }}
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}
