{% extends 'base.html.twig' %} {% block title %}Administration{% endblock %} {%
block body %}
<main>
  <h1>{{ festival.name }}</h1>

  <section class="concert">
    <h2>Concerts:</h2>
    <ul>
      {% for concert in concerts %}
      <li>
        Id: <span>{{ concert.id }}</span> Date du concert:
        <span>{{ concert.concertDate|date('d/m/Y H:i:s') }}</span>
        <a href="{{ path('app_concert_new', { id: concert.id }) }}">
          <i class="fa-solid fa-plus"></i>
        </a>
        <a href="{{ path('app_concert_edit', { id: concert.id }) }}">
          <i class="fa-regular fa-note-sticky"></i>
        </a>
        <a href="{{ path('app_concert_delete', { id: concert.id }) }}">
          <i class="fa-regular fa-trash-can"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="performer">
    <h2>Performers:</h2>
    <ul>
      {% for performer in performers %}
      <li>
        Id: <span>{{ performer.id }}</span> Name:
        <span>{{ performer.name }}</span>
        <a href="{{ path('app_performer_new', { festival: festival.id }) }}">
          <i class="fa-solid fa-plus"></i>
        </a>
        <a
          href="{{
            path('app_performer_edit', {
              festival: festival.id,
              id: performer.id
            })
          }}"
        >
          <i class="fa-regular fa-note-sticky"></i>
        </a>
        <a
          href="{{
            path('app_performer_delete', {
              festival: festival.id,
              id: performer.id
            })
          }}"
        >
          <i class="fa-regular fa-trash-can"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}
