{% extends 'base.html.twig' %} {% block title %}Performer index{% endblock %} {%
block body %}
<h1>Performer index</h1>

<section class="pictureIntro">
  {% for performer in performers %} {% for concert in performer.concerts %} {%
  if concert.scene.festival == festival %}
  <div>
    <p>
      scène {{ concert.scene.name }} le {{ concert.concertDate|date("d/m/y")}}
    </p>
    <img src={{ asset('images/'~performer.image) }} alt="photoArtisteFlou"> <img
    src={{ asset('images/'~performer.image) }} alt="photoArtiste">
    <h1>{{ performer.name }}</h1>
  </div>
  {% endif %} {% endfor %} {% endfor %}
</section>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_performer_new') }}">Create new</a>
{% endif %} {% endblock %}
